
<!-- <div  style="background-image: url('/assets/background.jpg')"></div> -->
<div class="hero-image">
  
  <img src="assets/profilePort.png" style="display: block;
  margin-left: auto;
  margin-right: auto; border-radius: 50%;width: 220px; ">

<div class="hero-text">
  <h1 style="font-size:50px">Adarsh Dwivedi</h1>
  <h3>Angular Developer</h3>

 
    <a  href="assets/adarsh_dwivedi_resume.pdf" download style="text-decoration:none;">
      <button class="Resume">
        Download Resume
      </button>
    
    </a>  
 
</div>
</div>
<div class="grid-container">
<app-nav-bar></app-nav-bar>
<app-about></app-about>


<mat-card>
<!-- <img src="assets/profilePort.png" style="border-radius: 50%; width:220px;border: 2px"> -->
<!-- <button class="btnResume">Download Resume</button> -->

</mat-card>
  <!-- <mat-grid-tile class="home-sec">

      <div>
        <h1 style="font-size: 50px;font-weight: bold;">Adarsh Dwivedi</h1> 
        <h2>Ui Developer</h2>
        <p>2 year Of experience In Angular Working In Tata Consultancy Services ,<br>hands on experince 
          in Angular Also iam very Curious and  Passionate About Learnig New Technology
        </p>

        </div>

  </mat-grid-tile> -->

<!-- </mat-grid-list> -->

<!-- skills -->
<h1 style="text-align: center; font-weight: bold;">Skills</h1>
<div  class="skill">
<mat-card>
  <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
</mat-card>
<mat-card style="margin-left: 30px">
  <plotly-plot [data]="graph2.data2" [layout]="graph2.layout"></plotly-plot>
</mat-card>
<mat-card style="margin-left: 30px">
  <plotly-plot [data]="graph3.data3" [layout]="graph3.layout"></plotly-plot>
</mat-card>

</div>
<!-- PROJECT  -->
<h1 style="text-align: center;font-weight: bold; margin-top: 15px;">Projects</h1>
<!-- Weather App -->
<section style="margin-top: 20px;">
  <div class="card-wrapper">
  <mat-card class="example-card">
      <img mat-card-image src="/assets/weatherApp.png" alt="Photo of a Shiba Inu" style="height: 330px;">
      <mat-card-content>
        <h1 style="text-align: center;">Weather App</h1>
        <ul>
          <li>Weather App See The Current User weather</li>
          <li>User Can Search a Sepecfic Location Know</li>
          <li>Weather of that Place </li>
        </ul>
      </mat-card-content>
      <mat-card-actions style="display: flex;justify-content: center;padding: 10px;">
        <a href="https://github.com/adarshdwivedi123/weatherAppProject" ><img mat-card-image src="assets/gitIcon.png" style="height: 40px;width: 40px;"></a>
        
      </mat-card-actions>
    </mat-card>


    <!--  camera app -->
    <mat-card class="example-card">
      <img mat-card-image src="assets/cameraApp.png" alt="Photo of a Shiba Inu" style="height: 330px;">
      <mat-card-content>
        <h1 style="text-align: center;">Camera App</h1>
        <ul>
          <li>Record The Vedio & Capture The Image</li>
          <li> Display The Vedio And Image in Gallery</li>
          <li>In Gallery we can Download and Delete the image and vedio</li>
        </ul>
      </mat-card-content>
      <mat-card-actions style="display: flex;justify-content: center;padding: 10px;">
        <a href="https://github.com/adarshdwivedi123/Camera-JS"><img mat-card-image src="assets/gitIcon.png" style="height: 40px;width: 40px;"></a>
        
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="assets/todo.png" style="height: 330px;">
      <mat-card-content>
        <h1 style="text-align: center;">Todo List App</h1>
        <ul>
          <li>
              User is able to create Todo item
          </li>
          <li>
                Store the Todo item in Local Storage 
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions style="display: flex;justify-content: center;padding: 10px;">
        <a href="https://github.com/adarshdwivedi123/TODO_APP" ><img mat-card-image src="assets/gitIcon.png" style="height: 40px;width: 40px;"></a>
        
      </mat-card-actions>
    </mat-card>

  </div>
</section>
<!--Contact Me  -->
<section  class="Contact" >
<h1 style="text-align: center;">Contact</h1>
<mat-card style="background-color: #E1F5FE">
  <mat-card-content style="margin-right: 400px;">
    <a href="https://www.linkedin.com/in/adarsh-dwivedi-778791187/" ><img mat-card-image src="assets/linkedin.png" style="height: 50px;margin-left:400px;"></a>
    <a href="https://github.com/adarshdwivedi123" ><img mat-card-image src="assets/gitIcon.png" style="height: 50px;margin-left:30px;"></a>
    <a href="mailto:adarsh.alld100@gmail.com" ><img mat-card-image src="assets/gmail.png" style="height: 50px; margin-left: 30px;"></a>
    <a href="https://www.google.com/" ><img mat-card-image src="assets/call.png" style="height: 50px; margin-left: 30px;"></a>
    <a href="https://leetcode.com/adarsh13/" ><img mat-card-image src="assets/LeetCode.png" style="height: 50px; margin-left: 30px;"></a>
  </mat-card-content>
</mat-card>

</section>
</div>

